html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	cursor: default;
	height: 100%;
}

.wrapper {
	width: 97%;
	margin: auto;
}

h1 {
	font-size: 2em;
	line-height: 1;
}
h2 {
	font-size: 1.5em;
	font-weight: bold;
}
h3 {
	font-family: 'Merriweather', serif;
	font-size: 1.25em;
	font-weight: bold;
}
p {
	margin: 0 0 1.5em 0;
}

footer {
	background: #8fbc8f;
	color: black;
	padding: 2% 3%;
    position: fixed;
    bottom:0;
    width: 100%;
    clear: both;
}

.main-section {
	margin-bottom: 120px;
}

#page-header nav ul {
	float: left;
	/*background: #008000;*/
	background: #8fbc8f;
	width: 100%;
}

/* Target this for changing nav item background to dark grey */
#page-header nav ul li {
	float: left;
}
#page-header nav ul li a {
	display: block;
	position: relative;
	z-index: 1;
	color: inherit;
	text-decoration: none;
	padding: 10px 0;
	margin-right: -1px;
}
#page-header nav ul li a span {
	border-right: 1px solid #ddd;
	padding: 0 24px 0 25px;
}
#page-header nav ul li:last-child a span {
	border: none;
	padding-right: 25px;
}
#page-header nav ul li a:hover {
	background: #f6f6f6;
}
#page-header nav ul li a:hover span {
	border: none;
	padding-right: 25px;
}
#page-header nav ul li.active a {
	z-index: 2;
	background: #666;
	color: #f6f666;
	padding-bottom: 12px;
	margin-bottom: -2px;
}
#page-header nav ul li.active a span {
	border: none;
	padding-right: 25px;
}

.hamburger {
	background: #000;
	display: none;
}

.hamburgerRow {
	background: #FFF;
	height: 2px;
	width: 40px;
	padding: 2px;
	margin-top: 10px;
}

/* Styling for the table */

.header-row {
	font-weight: bold;
}

/* Styling for the form */

.form-group {
	width: 50%;
}

.form-container {
	display: block;
	margin: 20px;
}

.row-input {
	width: 10%;
	border: 1px solid black;
}

label {
	font-size: 15px;
}

@media only screen and (max-width:640px) {
	#page-header h1 {
		/*float: left;*/
		color: yellow;
		font-family: 'Merriweather', serif;
		font-size: 1.5em;
		margin: 20px 0 0 0;
		width: 50%;
		/*display: block;*/
	}

	#page-header nav {
		float: right;
		/*display: block;*/
		width: 50%;
    }

	#page-header nav li {
		float: none;
		display: block;
	}

	/* Hide the hamburger icon */
	.hamburger {
		background: #000;

	}

	#navLinks {
		display: none;
	}	    
}




